/* You can add global styles to this file, and also import other style files */
.site {
    display: block;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    padding-bottom: 180px;
}

.site-content {
	flex: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
}