<app-site-nav></app-site-nav>
<div class="site-content section">
    <div class="columns is-centered">
        <div class="column is-half">
            <h2 class="title is-2">About PublishTo.Dev</h2>
            <div class="content is-medium">
                <p>
                    Wow. You're really interested in this site. Thanks! Since you're here, let me provide some
                    background and explain how PublishTo.Dev was built.
                </p>
                <h3>What is it?</h3>
                <p>
                    PublishTo.Dev is a simple tool that enables authors on the developer-focused <a
                        href="https://dev.to">dev.to</a> site to schedule the publishing of new articles. It leverages
                    the recently introduced <a href="https://dev.to/api">DevTo API</a> to publish a draft article at a specific time. 
                    Simply choose a date and time, and watch your article go live automagically.
                </p>
                <p>
                    Authors use a <a href="https://chrome.google.com/webstore/detail/bohbnpnialpdpgnibbddaaoaklmnjoaa">browser extension</a> 
                    (in Google Chrome or Microsoft Edge (Chromium)) to schedule posts
                    directly on the DevTo site. Once scheduled, authors can use this site to review, edit and cancel
                    scheduled posts.
                </p>
                <h3>How was it built?</h3>
                <p>
                    Behind the scenes, PublishTo.Dev uses <a href="https://cda.ms/10G">Azure durable functions</a> and 
                    <a href="https://cda.ms/10F">Azure table storage</a> to handle the
                    scheduling and publishing of posts.
                </p>
                <p>
                    Durable functions provide an efficient, serverless way to handle indeterminately long async
                    processes...<i>like</i> calling an API to publish a blog post at some future date and time. While the
                    function is waiting for the next step in the process, it "hibernates." You only pay for
                    compute time when it is awake and doing something. Really, it's pretty magical once you start to
                    use it.
                </p>
                <p>
                    When a post is scheduled, the details are saved to Azure table storage and a durable function timer
                    is set to run at the desired post publish time. When that time arrives, the function wakes up, grabs
                    the details from Storage and calls the Dev.To API to publish the post.
                </p>
                <h3>What technologies are used?</h3>
                <p>
                    On the backend, this project uses <a href="https://cda.ms/10H">Azure Functions</a>, 
                    <a href="https://cda.ms/10G">Azure Durable Functions</a>, <a href="https://cda.ms/10F">Azure Table Storage</a> 
                    and <a href="https://cda.ms/10J">Azure Storage</a> (for static site hosting). 
                    All functions are created with TypeScript using Azure JavaScript/Node SDKs. The source for the functions is 
                    <a href="https://cda.ms/10K">available on GitHub</a>.
                </p>
                <p>
                    On the frontend, the browser extension is created using TypeScript and the Chrome Extension format. 
                    Everything else is pretty vanilla, except for <a href="https://purecss.io/buttons/">PureCSS framework</a> 
                    for slightly prettier buttons, <a href="https://flatpickr.js.org/">Flatpickr</a> calendar component and the 
                    <a href="https://momentjs.com/">Moment/Moment Timezone</a> libraries. The extension source is 
                    <a href="https://cda.ms/10L">available on GitHub.</a>
                </p>
                <p>
                    This site is built using the Angular CLI and <a href="https://bulma.io/">Bulma CSS</a> framework, 
                    along with a handful of Angular plugins. The site's source is <a href="https://cda.ms/10M">available on GitHub.</a>
                </p>
                <h3>Trouble? Suggestions?</h3>
                <p>
                    If you love this tool, my name is Todd Anglin and you can email your feedback to: todd.anglin@microsoft.com.
                </p>
                <p>
                    If you hate this tool, my name is Burke Holland.
                </p>
            </div>
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>