<app-site-nav></app-site-nav>
<header class="section hero site-header" style="margin-bottom: 1rem;">
    <div class="container is-center has-text-centered">
        <figure class="image container is-128x128">
            <img src="assets/icon.png" alt="PublishTo.Dev logo" />
        </figure>

        <h1 class="title is-size-1 has-text-dark">
            PublishTo.Dev
        </h1>
        <p class="subtitle">
            Scheduled publishing for <a href="https://dev.to" target="_blank">
                dev.to
            </a>
        </p>
    </div>
</header>
<div class="site-content">
    <app-user-api-key></app-user-api-key>
</div>
<app-site-footer></app-site-footer>